.slider{
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100%;
    height: 400px;
    padding: 0;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.slider-content{
    width: 400%;
    height: 400px;
        display: flex;
}
.slider-content input{
    display: none;
}
.slide-box{
    width: 25%;
    height: 400px;
    position: relative;
    text-align: center;
}
.slide-box img{
    width: 100%;
    height: 100%;
}
.navigation-manual, .navigation-auto{
    position: absolute;
    width: 90%;
    margin-top: 370px;
    display: flex;
    justify-content: center;
    
}
.navigation-manual .manual-btn, .navigation-auto div{
   
    border: 1px solid gold;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.navigation-manual .manual-btn:not(:last-child), .navigation-auto div:not(:last-child){
    margin-right: 10px;
}
.navigation-manual .manual-btn:hover{
    background-color: gold;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: gold;
}
.auto-btn1, .auto-btn2, .auto-btn3{
    background-color: white;
}
#radio1:checked ~ .fist{
    margin-left: 0%;
}
#radio2:checked ~ .fist{
    margin-left: -25%;
}
#radio3:checked ~ .fist{
    margin-left: -50%;
}

.sliderName{
    position: absolute;
    z-index: 1;
    padding: 10px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
}