.slider{
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100%;
    height: 400px;
    padding: 0;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.slider-content{
    width: 400%;
    height: 400px;
        display: flex;
}
.slider-content input{
    display: none;
}
.slide-box,.slide-box1{
    min-width: 25%;
    width: 25%;
    height: 400px;
    position: relative;
    text-align: center;
}

.slide-box img{
    width: 100%;
    
    
}
.navigation-manual, .navigation-auto{
    position: absolute;
    width: 90%;
    margin-top: 370px;
    display: flex;
    justify-content: center;
    
}
.navigation-manual .manual-btn, .navigation-auto div{
   
    border: 1px solid gold;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.navigation-manual .manual-btn:not(:last-child), .navigation-auto div:not(:last-child){
    margin-right: 10px;
}
.navigation-manual .manual-btn:hover{
    background-color: gold;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4,
#radio5:checked ~ .navigation-auto .auto-btn5,
#radio6:checked ~ .navigation-auto .auto-btn6,
#radio7:checked ~ .navigation-auto .auto-btn7,
#radio8:checked ~ .navigation-auto .auto-btn8,
#radio9:checked ~ .navigation-auto .auto-btn9,
#radio10:checked ~ .navigation-auto .auto-btn10{
    background-color: gold;
}
.auto-btn1, .auto-btn2, .auto-btn3,.auto-btn4, .auto-btn5, .auto-btn6,.auto-btn7, .auto-btn8, .auto-btn9,.auto-btn10{
    background-color: white;
}
#radio1:checked ~ .fist{
    margin-left: 0%;
}
#radio2:checked ~ .fist{
    margin-left: -25%;
}
#radio3:checked ~ .fist{
    margin-left: -50%;
}
#radio4:checked ~ .fist{
    margin-left: -75%;
}
#radio5:checked ~ .fist{
    margin-left: -100%;
}
#radio6:checked ~ .fist{
    margin-left: -125%;
}
#radio7:checked ~ .fist{
    margin-left: -150%;
}
#radio8:checked ~ .fist{
    margin-left: -175%;
}
#radio9:checked ~ .fist{
    margin-left: -200%;
}
#radio10:checked ~ .fist{
    margin-left: -225%;
}


.sliderName{
    position: absolute;
    z-index: 1;
    padding: 10px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
}